@charset "utf-8";
/* CSS Document */

body 
{
	padding:0px;
	background-color:#fefefe;
	font-family:Arial, Helvetica, sans-serif;
	color:#7f7d78;
	font-size:13px;
	line-height:19px;
}

#webContainer
{
	width: 960px;
	height: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#navigationBar
{
	width:629px;
	margin-left: auto;
	margin-right: auto;
}

#naviButtons
{
	float:left;
}

#logo
{
	width: 960px;
	margin-bottom: 10px;
}

#myBody
{
	width: 930px;
	height: 660px;
	padding: 15px;
	margin-left: 5px;
}

#portfolio
{
	float: left;
	height: 660px;
	margin: 0px;
	padding: 0px;
}
#portfolioHeader
{
	height: 60px;
	width: 300px;

}
#portfolioBody
{
	width: 298px; 
	height: 600px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color:#a5adb1;	
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color:#a5adb1;	
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color:#a5adb1;	
}

#portfolioJob
{
	padding-top: 15px;
	margin-left: 14px;
	margin-right: 15px;
	padding-bottom: 15x;
}

#services
{
	float: left;
	margin-left: 15px;
	margin-right: 25px;
}
#servicesHeader
{
	height: 60px;
	width: 292px;
}
#servicesBody
{
	width: 292;
	height: 200px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color:#a5adb1;	
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color:#a5adb1;	
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color:#a5adb1;	
}

#servicesContent
{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

#hire
{
	float: left;
	width: 290px;
}
#hireHeader
{
}
#hireBody
{
	width: 290;
	height: 200px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color:#a5adb1;	
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color:#a5adb1;	
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color:#a5adb1;	
}

#hireContent
{
	padding-top: 15px;
	padding-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

#hireContentSubmit
{
	padding-top: 25px;
	padding-bottom: 5px;
	margin-left: 25px;
	margin-right: 25px;
}
#updates
{
	float: left;
	margin-left: 15px;
	margin-top: 20px;
}
#updatesHeader
{
}
#updatesBody
{	
	width: 609x;
	height: 320px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color:#a5adb1;	
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color:#a5adb1;	
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color:#a5adb1;	
}

#updatesConent
{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;	
}

#footer
{
	margin-top: 10px;
	height: 50px;
}
